# Ignore Emacs backup files
*#
*~

# Ignore python chiltepin venv
.chiltepin

# Ignore Python artifacts
*.egg-info
__pycache__

# Ignore test output
*.swp
runinfo/
tests/*.err
tests/*.exe
tests/*.out
tests/core.*
tests/flux_*
tests/runinfo
