# Ignore Emacs backup files
*~
*#

# Ignore output files
*.out
*.err
*.txt

# Ignore executables
*.x
*.exe

# Ignore Parsl/Flux runtime output
runinfo/
flux_*/

# Ignore python cache
__pycache__/

# Ignore JEDI experiment output
JEDI/experiments/

# Ignore JEDI build/install artifacts
JEDI/build/
JEDI/exascale-workflow-bundle/bin/
JEDI/exascale-workflow-bundle/etc/
JEDI/exascale-workflow-bundle/include/
JEDI/exascale-workflow-bundle/ioda/
JEDI/exascale-workflow-bundle/lib64/
JEDI/exascale-workflow-bundle/module/
JEDI/exascale-workflow-bundle/oops/
JEDI/exascale-workflow-bundle/share/
JEDI/exascale-workflow-bundle/ufo/
