# Ignore Emacs backup files
*#
*~

# Ignore python chiltepin venv
.chiltepin

# Ignore Python artifacts
*.egg-info
__pycache__

# Ignore test output
tests/test_output/

# Ignore coverage files
.coverage
.coverage.*
coverage.xml
htmlcov/
*.cover
.pytest_cache/
